BatchRunTrayTool/Makefile.Debug
BatchRunTrayTool/Makefile.Release
BatchRunTrayTool/BatchRunTrayTool.pro.user
BatchRunTrayTool/debug/*
BatchRunTrayTool/release/*
BatchRunTrayTool/.qmake.stash
BatchRunTrayTool/batchRunTrayTool_zh_CN.qm
BatchRunTrayTool/Makefile
/InnoSetupPackage/Output/BatchRunTrayToolSetup.exe
/BatchRunTrayTool/BatchRunTrayTool_resource.rc
/InnoSetupPackage/Output/2017-6-1BatchRunTrayToolSetup.exe
/InnoSetupPackage/Output/2017-6-1BatchRunTrayToolSetup.zip
/BatchRunTrayTool/config/悟空苹果助手V4.7开发计划.xlsx
/BatchRunTrayTool/config/ExploreFolder/悟空苹果助手V4.7开发计划.xlsx
/InnoSetupPackage/Output/2017-06-20 BatchRunTrayToolSetup.exe